<a href="https://colab.research.google.com/github/Saividya5009/phython-assignment-1/blob/master/assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.to find squareroot.

In [ ]:
import math
math.sqrt(400)

20.0

2.to check whether number is positive,negetive or 0.

In [ ]:
n=int(input("enter a number"))
if(n>0):
  print("the number is positive")
elif(n<0):
  print("the number is negetive")
else:
  print("the number is zero")

enter a number-5
the number is negetive

3.to check whether leap year is not.

In [63]:
year=int(input("enter the year"))
if(year%4)==0 and (year%100)!=0 or (year%400==0):
  print("leap year")
else:
  print("not a leap year")

enter the year2000
leap year

4.print fibbonacci series.

In [22]:
N=int(input("enter the no of terms"))
n1,n2=0,1
count=0
if (N<=0):
  print("enter a positive integer")
elif (N==1):
  print("fibonacci series",N)
  print(n1)
else:
  print("fibonacci series:")
while(count<N):
  print(n1)
  nth=n1+n2
  n1=n2
  n2=nth
  count=count+1

enter the no of terms7
fibonacci series:
0
1
1
2
3
5
8

5.amstrong number.

In [27]:
num=int(input("enter the number"))
sum=0
temp=num
while temp>0:
  digit=num%10
  sum=sum+digit**3
  temp//=10
if num==sum:
  print("the number is amstrong number")
else:
  print("the number is not amstrong number")

enter the number555
the number is not amstrong number

6.in interval amstrong number

In [57]:
for num in range(100,500):
  sum=0
  temp=num
  while temp>0:
      digit=temp%10
      sum=sum+digit**3
      temp//=10
      if sum==num:
        print (num)

125
153
216
370
371
407